<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--<appSettings file="Log4Net.config" ></appSettings>-->
  <configSections>
    <!--<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>-->
    <!--<sectionGroup name="BovespaData">
      <section name="BoletimDiarioIformacao" type="System.Configuration.NameValueSectionHandler" />
    </sectionGroup>
    <sectionGroup name="Feed">
      <section name="CSV" type="System.Configuration.NameValueSectionHandler" />
    </sectionGroup>-->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <connectionStrings>
    <add name="Local" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=tebaldibovespa;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="TebaldiMktDataSql" connectionString="Data Source=tebaldibiz.cr7xo9mseirc.sa-east-1.rds.amazonaws.com;Initial Catalog=TebaldiMarketData;User Id=btebaldi;Password=NO522xAGtqw9" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!--
  <BovespaData>
    <BoletimDiarioIformacao>
      <add key="SitePath" value="http://bvmf.bmfbovespa.com.br/fechamento-pregao/bdi/" />
      <add key="FileMask" value="bdi{*}.zip" />
      <add key="DateTimePattern" value="MMdd" />
      <add key="DownloadPath" value="C:\Users\Tebaldi\Downloads" />
      <add key="BdiFile" value="BDIN" />
    </BoletimDiarioIformacao>
  </BovespaData>

  <Feed>
    <CSV>
      <add key="DownloadPath" value="C:\Users\Tebaldi\Downloads" />
      <add key="SaveFileName" value="[FeederName] [Date] [Time].csv" />
    </CSV>

  </Feed>-->
</configuration>