<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BdiFilePath" value="http://bvmf.bmfbovespa.com.br/fechamento-pregao/bdi/" />
    <add key="BdiFileMask" value="bdi{*}.zip" />
    <add key="BdiDateTimePattern" value="MMdd" />
    <add key="BdiSaveDonwloadAs" value="bdi.zip" />
    <add key="BdiExtractPath" value="" />
    <add key="BdiFile" value="BDIN" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>